#container {
    margin: 0 auto;
}

#container span {
    justify-content: center;
    align-items: center;
    display: flex;
}

#container span span {
    width: 40px;
    height: 40px;
    font-size: 10px;
    transition: 0.2s;
}

#container span span:hover {
    background: #cdcdeb !important;
}
#container span span {
    background-color: #eeeeee;
}
#container span:nth-child(odd) span:nth-child(odd) {
    background-color: #dddddd;
}
#container span:nth-child(even) span:nth-child(even) {
    background-color: #dddddd
}
